@import 'styles/vars';
@import 'styles/helpers/normalize.scss';
@import 'styles/helpers/resets';
@import 'styles/helpers/font';
@import 'styles/helpers/utilities';
@import 'styles/helpers/animate';

.app {
  &__main {
    min-height: 100vh;
    padding-left: 286px;
    // transition: all 0.3s ease-in-out;

    &.compact {
      padding-left: 88px;
    }
  }

  @include max-size(1168px) {
    &__main {
      padding-left: 0 !important;
    }
  }
}
